@model IEnumerable<BookMarket.ViewModels.Admin.UserViewModel>

@{
    Layout = "_Layout_admin";
}

<div class="user-container">
    <div class="user-th">User ID</div>
    <div class="user-th">User Name</div>
    <div class="user-th">User Email</div>
    <div class="user-th">Role List</div>
    <div class="user-th">Tools</div>
    @foreach (var v in Model)
    {
        <div class="user-td">@v.UserId</div>
        <div class="user-td">@v.UserName</div>
        <div class="user-td">@v.UserEmail</div>
        <div class="user-td">@v.AllRoles</div>
        <div class="user-td">
            <div class="edit-form-container">
                <form class="edit-form" method="get" asp-action="EditUser">
                    <input type="hidden" name="id" value="@v.UserId">
                    <input type="submit" value="Edit">
                </form>
            </div>
            <div class="remove-link-container">
                <a class="remove-link" asp-action="RemoveUser" asp-route-id="@v.UserId">Remove</a>
            </div>
            <div class="user-orders-link-container">
                <a class="user-orders-link" asp-action="UserOrderHistory" asp-controller="admin" asp-route-user_id="@v.UserId"><div>Orders</div></a>
            </div>
        </div>
    }
</div>
